<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- birthDate Column -->
  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> birthDate </th>
    <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
  </ng-container>

  <!-- firstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> firstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- lastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <!-- hireDate Column -->
  <ng-container matColumnDef="hireDate">
    <th mat-header-cell *matHeaderCellDef> hireDate </th>
    <td mat-cell *matCellDef="let element"> {{element.hireDate}} </td>
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteRow(element.id)" [disabled]="!isEditingFormHidden || !isNewFormHidden">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Modify</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="modifyRow(element)" [disabled]="!isEditingFormHidden || !isNewFormHidden">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;">
</table>

<app-employee-form
  [hidden]="isEditingFormHidden"
  [employee]="editingEmployee"
  (submitted)="saveModify($event)"
  (cancelled)="isEditingFormHidden = true"
></app-employee-form>

<app-employee-form
  [hidden]="isNewFormHidden"
  [isNew]="true"
  (submitted)="applyAdd($event)"
  (cancelled)="isNewFormHidden = true"
></app-employee-form>

<div class="buttons">
  <button [disabled]="pageNumber == 0" (click)="firstPage()">&lt;&lt;</button>
  <button [disabled]="pageNumber == 0" (click)="previousPage()">&lt;</button>
  <div>{{pageNumber}}</div>
  <button [disabled]="!this.data!._links.next" (click)="nextPage()">&gt;</button>
  <button [disabled]="!this.data!._links.next" (click)="lastPage()">&gt;&gt;</button>
  <br>
  <button [disabled]="!isEditingFormHidden || !isNewFormHidden" (click)="isNewFormHidden = false">
    <mat-icon>control_point</mat-icon>
  </button>
</div>
